body {
    font-family: 'Dancing Script', cursive;
    background-color: aquamarine;
    text-align: center;
}


.img1 {
    width: 50%;
    height: 50%;
}

.backgroundImg_button_container {
    background-image: url(Assets/dandelion-field.jpg);
    background-position: center;
}

p {
    color: blueviolet;
    border: black dotted 3px;
    background-color: white;
    font-size: larger;
    font-weight: bolder;
}

button {
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px;
}

#quote_button {
    background-color: black;
}

#share_button {
    background-color: red;
}